body {
    background-color: #f5f1eb;
    text-align: center;
    font-family: Arial, sans-serif;
}


/* LOGO */

.logo-container {
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 250px;
    max-width: 90%;
    height: auto;
}


h1 {
    color: #9a7b4f;
    font-size: 48px;
}

p {
    color: #666;
    font-size: 20px;
}
